<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">SLOWLY Stamps - Beta</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="stampcollection">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Stamp Collection
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="langstat">
                <span class="oi oi-globe" aria-hidden="true"></span> Language Statistics
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="acknowledgement">
                <span class="oi oi-lightbulb" aria-hidden="true"></span> Acknowledgement
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="about">
                <span class="oi oi-info" aria-hidden="true"></span> About
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
