@page "/"
<div>
    <h1>SLOWLY Stamps - Beta</h1><hr>
    <p>Welcome to this wiki page.</p>
    <div>
        <ul>
            <li><a href="stampcollection">Stamp Collection</a></li>
            <li><a href="acknowledgement">Acknowledgement</a></li>
        </ul>
    </div>
</div>
<div>
    <h3>About</h3><hr>
    <ul>
        <li><strong>Where to begin: </strong><a href="https://slowly.app/en/">SLOWLY app</a></li>
        <li>
            <strong>Source code: </strong><a href="https://github.com/T0xicK0ala/slowly-stamps">Github Repo</a>,
            open sourced by licence <a href="https://github.com/T0xicK0ala/slowly-stamps/blob/main/LICENSE">GPL V3</a>.
        </li>
        <li><strong>Data source:</strong> <a href="https://slowly.fandom.com/wiki/List_of_stamps_on_Slowly">Fandom Wiki</a>.</li>
    </ul>
</div>
<div>
    <h3>Features</h3><hr>
    <ul>
        <li>A table of all SLOWLY stamps with details: price, region, category, availability, title, description, and difficulty to get.</li>
        <li>Stamp counts in total and in each category</li>
        <li>Stamp image in the table is 100 x 100 pixels.</li>
        <li>Click the image to display an enlarged stamp with the background image. (WIP)</li>
        <li>
            Stamp's availability:
            <ul>
                <li>available: purchase in stamp store</li>
                <li>hidden: click to reveal the method to get it (WIP)</li>
                <li>unavailable: very rare stamps, can be requested from your penpal for availability</li>
            </ul>
        </li>
        <li>
            Difficulty*
            <ul>
                <li>Difficulty is initialised with a base number.</li>
                <li>Viewers may vote up/down to in/decrease the difficulty. (WIP)</li>
            </ul>
        </li>
        <li>Other columns are showing the original information from SLOWLY.</li>
        <li>Search box (WIP)</li>
    </ul>
</div>
<div>
    <h3>Roadmap</h3><hr>
    <ul>
        <li>key feature: compare user's stamp collection with the dataset (tba)</li>
        <li>key feature: display the differences between the user's collection and the dataset (tba)</li>
        <li>key feature: click image to open the enlarged image (V0.3)</li>
        <li>key feature: Add background image to the enlarged image (V0.3)</li>
        <li>key feature: search function (tba)</li>
        <li>other feature: sorting by column (tba)</li>
        <li>other feature: filtering by some columns (tba)</li>
        <li>other feature: HTTPS connection (when rich)</li>
        <li>key feature: click hidden in column Availability to reveal "how to get it" text (tba)</li>
        <li>other feature: vote up or down for difficulty</li>
        <li>other feature: feedback page</li>
    </ul>
</div>
<div>
    <h3>History of this page</h3><hr>
    <ul>
        <li>
            Version 0.2.1 Minor updates (08/12/2020)
            <ul>
                <li>Added 62 Achievements stamps</li>
                <li>Added 47 Time Machine stamps</li>
                <li>Added stamp counts on stamp collection page</li>
                <li>Added features</li>
                <li>Updated roadmap</li>
                <li>Fixed some texts</li>
            </ul>
        </li>
        <li>
            Version 0.2 Minor updates (07/12/2020)
            <ul>
                <li>Added Acknowledgement page</li>
                <li>Updated favicon to match Slowly app style</li>
                <li>Updated home page, added history of the page and links</li>
                <li>Replaced About link on the top right corner to version number</li>
                <li>Updated nav menu</li>
                <li>Removed Column "How to get it?"</li>
                <li>Added new Columns "Availability" and "Region"</li>
                <li>Changed site name</li>
                <li>Fixed some UI and style issues</li>
            </ul>
        </li>
        <li>Version 0.1 Website is online (07/12/2020)</li>
    </ul>
</div>
