@page "/"
@using SlowlyStampCollection.Data
@inject StampCollectionService StampService

<div>
    <h1>SLOWLY Stamps - Beta</h1><hr>
    <p>Welcome to this wiki website.</p>
    <div>
        <ul>
            <li><a href="stampcollection">Stamp Collection</a></li>
            <li><a href="langstat">Language Statistics</a></li>
            <li><a href="acknowledgement">Acknowledgement</a></li>
            <li><a href="feedback">Feedback</a></li>
            <li><a href="about">About</a></li>
        </ul>
    </div>
</div>
<div>
    <hr><h3>Slowly Stamp Release Information</h3>
    <ul>
        @if (infoset == null)
        {
            <p>Loading...</p>
        }
        else
        {
            @foreach (var info in infoset)
            {
                var l = info.Item.Split(',').Length;
                string s = "";
                @if (l > 1)
                    s = "stamps";
                else
                    s = "stamp";
                <li>@info.Date - Add @l new @s: "@info.Item"</li>
            }
        }
    </ul>
    <hr>
    <div><strong>Older: </strong> <a href="https://slowly.fandom.com/wiki/List_of_stamps_on_Slowly">Fandom Wiki</a>.</div>
    <br>
    <ul>
        <li>2021/01/20 - Add stamp set "Greetings";add stamps "Swiss Army Knife", "Fondue", "Make a Wish", "Plant Today"</li>

        <li>2021/01/17 - Add stamps "The Vienna Four"</li>

        <li>
            2021/01/06 - Add stamps flag stamps;add stamp "成人の日", "Martin Luther King Jr. Day", "National Hugging Day", "Data Privacy Day"
        </li>
        <li>
            2020/12/14 - Add stamp set "Singlish"
        </li>
        <li>
            2020/12/05 - Add stamp set "Fairytale Houses"; single stamps "Winter Forest", "Bedtime Story", "Merry Christmas", "Happy New Year!", "Happy Birthday to you!", "Nasi Lemak"
        </li>
        <li>
            2020/11/30 - Add stamp set "Pâtisseries françaises";single stamp "Marianne"
        </li>
        <li>
            2020/11/12 – Add stamps “Happy Thanksgiving!”, “World Children’s Day”
        </li>
        <li>
            2020/11/07 - Add stamp sets "České vynálezy", "Permainan Tradisional";add stamps "Símbolo Cultural y Tradición Colombiana", "Absolutní česká klasika"
        </li>
        <li>
            2020/11/07 - Add new 22 achievement stamps
        </li>
        <li>
            2020/10/29 - Add new stamp "วันลอยกระทง","Keep Running","Cat in the Box"
        </li>
        <li>
            2020/10/22 – Add new translator stamp of Filipino;add stamp “Falcon, National Bird”;add stamp set “Ancient Greek Philosophers”
        </li>
        <li>
            2020/10/04 - Add stamps "Mate", "Tango Argentino", "Pierogi";add stamp set "Hafty Polskie"
        </li>
        <li>
            2020/09/25 - Add stamp set "A Bug's Life";stamps "World Teachers' Day", "Halloween 2020";stamps "Hari Batik", "Diwali", "Delft Kissing Couple", "Philippine Tarsier", "Burro de Miranda"
        </li>
        <li>
            2020/09/20 - Separate this list into different individual pages
        </li>
        <li>
            2020/09/12 - Add stamp set "Stay Home Club" , stamp "International Day of Peace"
        </li>
        <li>
            2020/09/02 - Add stamp sets "Dolci italiani", "Africa's Big Five"
        </li>
        <li>
            2020/08/21 - Add stamp set "Traditional market food" from South Korea ("전통시장 먹거리")
        </li>
        <li>
            2020/08/17 - Add stamps set "Let's Go Camping" and single stamps "Eh?", "Els Castells"
        </li>
        <li>
            2020/08/10 - Add stamp "International Youth Day"
        </li>
        <li>
            2020/07/31 - Add stamp set "Rainforest Animals" and single stamps "Hold On Tight",Born to Sparkle"
        </li>
        <li>
            2020/07/27 - Add stamps set "居酒屋" from Japan
        </li>
        <li>
            2020/07/26 - Add stamp "slowly translator" of Thai
        </li>
        <li>
            2020/07/20 - Add stamps set "Expressões Brasileiras"
        </li>
        <li>
            2020/07/20 - Add stamps "Kiwi, National Icon","Rubik’s Cube","International Day of Friendship"
        </li>
        <li>
            2020/07/18 - Add stamps "Never Stop Writing","Next Level"
        </li>
        <li>
            2020/06/25 - Add stamps "Happy Birthday to you!","Hello Macau"
        </li>
        <li>
            2020/06/22 - Add stamps "Inti Raymi","Midsommar"
        </li>
        <li>
            2020/06/11 - Add stamp "slowly translator" of Brazilian Portuguese
        </li>
        <li>
            2020/06/05 - Add some location-based single stamps and stamp sets.
        </li>
        <li>
            2020/06/02 - Add stamps "Rainbow Flag", "World Environment Day", "Slowly Translator" of Swedish
        </li>
        <li>
            2020/05/30 - Add stamp "Festa della Repubblica"
        </li>
        <li>
            2020/05/28 - Add stamp "You Rock!"
        </li>
        <li>
            2020/05/27 - Add some past limited stamps
        </li>
        <li>
            2020/05/12 - Add stamps "Taco Tuesday", "Syttende Mai"
        </li>
        <li>
            2020/05/11 - Add stamp "Slowly Translator" of Vietnamese
        </li>
        <li>
            2020/05/08 - Add stamps set of Thailand and Mexico
        </li>
        <li>
            2020/05/08 - Add stamps "Full English Breakfast", "Eggs Benedict", "Phở"
        </li>
        <li>
            2020/05/04 - Add some past stamps and some "Slowly Translator" stamps
        </li>
        <li>
            2020/05/01 - Add stamps "端午の節句"
        </li>
        <li>
            2020/04/30 - Add stamps "World Press Freedom Day"
        </li>
        <li>
            2020/04/28 - Add stamps "International Workers' Day"
        </li>
        <li>
            2020/04/27 - Add stamps "Slowly Translator" of some languages
        </li>
        <li>
            2020/04/23 - Add stamps "Ramadan", "Koningsdag", "Slowly Translator"
        </li>
        <li>
            2020/04/23 - Add "sort" function to table and classify stamps
        </li>
        <li>2020/04/22 - Add stamps "Lucha Libre Mexicana", "มวยไทย"</li>
    </ul>
</div>

@code{
    private NewStampInfo[] infoset;
    protected override async Task OnInitializedAsync()
    {
        infoset = await StampService.GetStampInfoAsync();
    }
}