@page "/"
<div>
    <h1>Slowly Stamps - Beta</h1><hr>
    <p>Welcome to this wiki page.</p>
    <div>
        <ul>
            <li><a href="stampcollection">Stamp Collection</a></li>
            <li><a href="acknowledgement">Acknowledgement</a></li>
        </ul>
    </div>
</div>
<div>
    <h3>About</h3><hr>
    <ul>
        <li><strong>Where to begin: </strong><a href="https://slowly.app/en/">Slowly app</a></li>
        <li>
            <strong>Source code: </strong><a href="https://github.com/T0xicK0ala/slowly-stamps">Github Repo</a>,
            open sourced by licence <a href="https://github.com/T0xicK0ala/slowly-stamps/blob/main/LICENSE">GPL V3</a>.
        </li>
        <li><strong>Data source:</strong> <a href="https://slowly.fandom.com/wiki/List_of_stamps_on_Slowly">Fandom Wiki</a>.</li>
    </ul>
</div>
<div>
    <h3>Road Map</h3><hr>
    <ul>
        <li> key feature: compare user's stamp collection with the dataset (tba)</li>
        <li>
            key feature: display the differences between the user's collection and the dataset (tba)
        </li>
        <li>
            key feature: click image to open the enlarged image (V0.3)
        </li>
        <li>
            key feature: Add background image to the enlarged image (V0.3)
        </li>
        <li>
            key feature: search function (tba)
        </li>
        <li>
            other feature: sorting by column (tba)
        </li>
        <li> other feature: filtering by some columns (tba)</li>
        <li> other feature: SSL connection (when rich)</li>
    </ul>
</div>
<div>
    <h3>History of this page</h3><hr>
    <ul>
        <li>version 0.2 07/12/2020 Minor updates</li>
        <ul>
            <li> Added Acknowledgement page</li>
            <li> Updated favicon to match Slowly app style</li>
            <li> Updated home page, added history of the page and links</li>
            <li> Replaced About link on the top right corner to version number</li>
            <li> Updated nav menu</li>
            <li> Removed Column "How to get it?"</li>
            <li> Added new Columns "Availability" and "Region"</li>
            <li> Changed site name</li>
            <li> Fixed some UI and style issues</li>
        </ul>

        <li>version 0.1 07/12/2020 Website is online</li>
    </ul>
</div>