@page "/"
<div>
    <h1>SLOWLY Stamps - Beta</h1><hr>
    <p>Welcome to this wiki page.</p>
    <div>
        <ul>
            <li><a href="stampcollection">Stamp Collection</a></li>
            <li><a href="acknowledgement">Acknowledgement</a></li>
            <li><a href="about">About</a></li>
        </ul>
    </div>
</div>
<div>
    <hr><h3>Slowly Stamp Release Information</h3>
    <ul>
        <li>2021/01/30 - add stamps "Poutine", "Hockey", "Groundhog Day"</li>
    </ul>
    <hr>
    <strong>Data source:</strong> <a href="https://slowly.fandom.com/wiki/List_of_stamps_on_Slowly">Fandom Wiki</a>.
    <ul>
        <li>2021/01/20 - add stamp set "Greetings";add stamps "Swiss Army Knife", "Fondue", "Make a Wish", "Plant Today"</li>
    </ul>
</div>
