@page "/langstat"

@using SlowlyStampCollection.Data
@inject StampCollectionService StampService

<h1>Language Statistics</h1>
<p>Information about how many people are speaking your language on Slowly</p>


@if (langs == null)
{
    <p><em>Getting there...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Native Language Name</th>
                <th>Language Name</th>
                <th>Native Speakers</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var lang in langs)
            {
                <tr>
                    <td style="width:25%">@lang.Native</td>
                    <td style="width:25%">@lang.Name</td>
                    <td>@lang.Count</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private SlowlyStampCollection.Data.Lang[] langs;

    protected override async Task OnInitializedAsync()
    {
        langs = await StampService.GetLanguageAsync();
    }
}
